doctype html
html(lang='nl')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title #{title}
        script(src='https://www.googletagmanager.com/gtag/js?id=' + gtag)

        :script
            window.dataLayer = window.dataLayer || [];

            window.gtag = window.gtag || function () {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', document.querySelector('script').src.slice(-14));

        :style
            body
                background-color: #fff
                font-family: monospace

                > p
                    color: #000
                    font-size: 2em

                > ul

                    > li
                        margin-top: 1.5em
                        overflow: hidden
                        text-overflow: ellipsis

                        > a
                            color: #000
                            font-size: 3em
                            white-space: nowrap

                            &:hover
                                font-weight: bold

    body
        p #{slogan}
        ul
            each url, name in media
                li
                    a(href='https://' + url) #{name}